# Dependency directories
node_modules/
frontend/node_modules/

# Production builds
frontend/build/
frontend/dist/

# Backend uploads & local data
Backend/uploads/*
!Backend/uploads/.gitkeep

# Environment variables (Sensitive info)
.env
.env.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db